button{
    width: 200px;
    height: 200px;
    border-radius: 200px;
    background-image: url(../img/dinnerTable.jpg);
    background-size: 200px 200px;
    opacity: 0.5;
    color: white;
    font-size: 50px;
}