.main{
    display: flex; 
    height: 100%;
 }
 .all{
    height: 100%;
 }
 .item{
    display: flex;
 }
 .image{
    height: 150px;
      width: 200px;
   }
   .click:hover{
      cursor: pointer;
   }
   .list{
    border-bottom: 1px solid;

   }
   .map{
      height: 400px;
   }