<div class = "all">
  <form class="form">
          <mat-form-field class="searchBox">
            <input matInput placeholder="Leita af bar" value="" #search>
          </mat-form-field>
          <mat-form-field class="searchNearest">
              <input matInput placeholder="Sláðu inn heimilisfang" type="text" (keydown.enter)="$event.preventDefault()" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" value="" #search>
          </mat-form-field>
      </form>
      
      <div class="main">
          <div class="toggeButton">
              <h1>Barir</h1>
              <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                  <mat-button-toggle (click) = "toogle('Kokteilbar')">Kokteila barir</mat-button-toggle>
                  <mat-button-toggle (click) = "toogle('Sport-Bar')">Sport barir</mat-button-toggle>
                  <mat-button-toggle (click) = "toogle('Craft-Bar')">craft barir</mat-button-toggle>
                  <mat-button-toggle (click) = "toogle('Næturbar')">Nætur barir</mat-button-toggle>
                  <mat-button-toggle (click) = "toogle()">Allt</mat-button-toggle>
              </mat-button-toggle-group>
              <div class="list" *ngFor="let i of list">
                <div class="item">
        
                    <div class="images">
                        <!--Þetta á að vera myndin í json, einhver að laga?-->
                            <img alt="image" [src]="i.image">                
                      </div>
                  <div class="click" (click)="clickedBar(i)">
                    <h3 class="placeName">{{i.name}}</h3>
                    <p class="placePhone">{{i.phone}}</p>
                    <p class="workDays">Virkir dagar:{{i.openings.Virkadaga}}</p>
              <p class="weekends">Helgar:{{i.openings.Helgar}}</p>
                  </div>
                </div>

                <div *ngIf="i.isClicked">
                  <p class="xtraInfo">{{i.address}}</p>
                  <p class="xtraInfo">{{i.postalcode}}</p>
                  <p class="xtraInfo">{{i.mail}}</p>
        
        
        
                  <form class="example-form">
                    <mat-form-field class="comment-title">
                      <input matInput placeholder="Fyrirsögn" (keyup)="onKeyTitle($event)"  value="">
                    </mat-form-field>
        
                    <mat-form-field class="comment-sec">
                      <textarea matInput placeholder="Skildu eftir athugasemd"(keyup)="onKeyComment($event)" ></textarea>
                    </mat-form-field>
                  </form>
                </div>
              </div>
            </div>
          
          <agm-map class = "map" [latitude] = "lat" [longitude]= "lng" [zoom] = 'zoom' style="width: 100%; height: 100%;">
                  <agm-marker [latitude]="lat" [longitude]="lng" [markerDraggable]="true"
                  (dragEnd)="markerDragEnd($event)"></agm-marker>
                  <h5>Address: {{address}}</h5>
          <div>Latitude: {{latitude}}</div>
          <div>Longitude: {{longitude}}</div>
          </agm-map>
          
  
             <!-- ef þú ætlar að nota þetta verðuru að fara í index.html og bars.component og breyta þar sem ég commentaði
              <div  #map style="width:100%;height:100%;"></div>
             --> 
      </div>
  </div>
