<div class="all">
  <form class="form">
    <mat-form-field class="search-box">
      <input matInput placeholder="Leita af hárgreiðslustofum" value="">
    </mat-form-field>
  </form>

  <div class="main">
    <div class="toggeButton">
      <h1>Hárgreiðslustofur</h1>
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle (click) = "toogle('Rakarastofa')">Rakarastofur</mat-button-toggle>
        <mat-button-toggle (click) = "toogle('Hárgreiðslustofa')">Hárgreiðslustofur</mat-button-toggle>
        <mat-button-toggle (click) = "toogle('Engar Tímapantanir')">Engar tímapantanir</mat-button-toggle>
        <mat-button-toggle (click) = "toogle('')">Allt</mat-button-toggle>
      </mat-button-toggle-group>
      <div class="list" *ngFor="let i of list">
        <div class="item">

            <div class="images">
                <!--Þetta á að vera myndin í json, einhver að laga?-->
                    <img alt="image" [src]="i.image">                
              </div>
          <div class="click" (click)="clickedBar(i)">
            <h3 class="placeName">{{i.name}}</h3>
            <p class=" placePhone">{{i.phone}}</p>
            <p class="workDays">Virkir dagar:{{i.openings.Virkadaga}}</p>
              <p class="weekends">Helgar:{{i.openings.Helgar}}</p>
          </div>
        </div>
        <div *ngIf="i.isClicked">
          <p class="xtraInfo">{{i.address}}</p>
          <p class="xtraInfo">{{i.postalcode}}</p>
          <p class="xtraInfo">{{i.mail}}</p>
          <div *ngFor = "let j of i.comments">
              <p>{{j.title}}</p>
              <p>{{j.comment}}</p>

            </div>

          <div *ngIf = "username">
          <form class="example-form">
            <mat-form-field class="comment-title">
              <input matInput placeholder="Fyrirsögn" (keyup)="onKeyTitle($event)" value="">
            </mat-form-field>

            <mat-form-field class="comment-sec">
              <textarea matInput placeholder="Skildu eftir athugasemd"(keyup)="onKeyComment($event)"></textarea>
            </mat-form-field>
          </form>
        </div>
          <button mat-button (click)= "submitComment(i.id)">Skrá comment</button>
        </div>
      </div>
    </div>
    <agm-map class = "map" [latitude] = "lat" [longitude]= "lng" [zoom] = 'zoom' style="width: 100%; height: 100%;">
        <agm-marker [latitude]="lat" [longitude]="lng" [markerDraggable]="true"
        (dragEnd)="markerDragEnd($event)"></agm-marker>
        
</agm-map>
  </div>
</div>