.main {
  display: flex;
  height: 100%;
}

.all {
  height: 100%;
}

.item {
  display: flex;
  background: rgba(200,200,200,.75);
}

/*Name of place*/
h3.placeName {
  font-weight: bolder;
}

/*Phone Number*/
p.placePhone {
  font-style: italic;
}

/*Other info Ex. Address, PostCode, Website*/
.xrtraInfo {
  font-style: italic;
}

/*Image*/
.image {
  height: 150px;
  width: 200px;
}

.click:hover {
  cursor: pointer;
}

.list {
  border-bottom: 1px solid;
}

/*Cotntrols the layout of List area, size*/
.toggeButton {
  border-radius: 10px;
  background: rgba(200,200,200,1);
  width: 45%;
}

h1 {
  margin: 10px;
  text-align: center;
}


mat-button-toggle-group {
  flex: auto;
  width: 100%;
  padding: 0px 25px;
}

/*Filter buttons*/
mat-button-toggle {
  width: 160px;
  border-radius: 15px;
  margin: 8px;
  background-color: coral;
}

/*Title of comment*/
.comment-title {
  position: initial;
  width: 50%;
}

/*Comment Section*/
.comment-sec {
  position: initial;
  width: 75%;
}

/*Percoeved size of comment section area*/
textarea {
  height: 150px;
}