<div class="all">
  <form class="form">
    <mat-form-field class="search-box">
      <input matInput placeholder="Leita af kaffihús" value="">
    </mat-form-field>
  </form>

  <div class="main">
    <div class="toggeButton">
      <h1>Kaffihús</h1>
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle value="bold">Vinsælast</mat-button-toggle>
        <mat-button-toggle value="bold">Bakkelsi</mat-button-toggle>
        <mat-button-toggle value="italic">Kaffi</mat-button-toggle>
      </mat-button-toggle-group>
      <div class="list" *ngFor="let i of list">
        <div class="item">

          <div class="image">
            <!--Þetta á að vera myndin í json, einhver að laga?-->
            <img ng-src="{{i.imageurl}" alt="image">
          </div>
          <div class="click" (click)="clickedBar(i)">
            <h3 class="placeName">{{i.name}}</h3>
            <p class=" placePhone">{{i.phone}}</p>
          </div>
        </div>
        <div *ngIf="i.isClicked">
          <p class="xtraInfo">{{i.address}}</p>
          <p class="xtraInfo">{{i.postalcode}}</p>
          <p class="xtraInfo">{{i.mail}}</p>



          <form class="example-form">
            <mat-form-field class="comment-title">
              <input matInput placeholder="Fyrirsögn" value="">
            </mat-form-field>

            <mat-form-field class="comment-sec">
              <textarea matInput placeholder="Skildu eftir athugasemd"></textarea>
            </mat-form-field>
          </form>
        </div>
      </div>
    </div>
    <div #map style="width:70%;height:100%; flex: flex; align-items: center; justify-content: center;"></div>
  </div>
</div>