<div class="logMain">

  <div *ngIf="!isLogedIn">
    <h3 style="color: rgba(210, 210, 210, 1); margin: 20px 10px 10px 10px">Innskráning</h3>

    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Notendnafn" color="white" (keyup)="onKeyUsername($event)" required>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Lykilorð" color="black" type="password" (keyup)="onKeyPsw($event)" required>
      </mat-form-field>

    </form>
    <div class="invalidation">
      <div class="invalidName" *ngIf="isNotValidUsename">
        Notendanafn vantar
      </div>
      <div class="invalidPsw" *ngIf="isNotValidPsw">
        Lykilorð vantar
      </div>
    </div>
    <button class="logButton" mat-button (click)="submit()">Skrá inn</button>


  </div>
  <div *ngIf="isLogedIn">
    <app-home></app-home>

  </div>
</div>
