<div class="main">
  <h2 style="color: rgba(210, 210, 210, 1); margin: 20px 10px 10px 20px">Nýtt þessa vikuna:</h2>

  <div class="clearfix">
    <div class="img-container">
      <img src="../../assets/sundlaug.jpg" alt="Italy" style="width:100%">
      <div class="text-block">
        <h4>Sundlaugar</h4>
      </div>

      <p> Íslandsmeistaramót í sundi verður haldið helgina
        8 – 10 nóvember næstkomandi í Ásvallalaug,
        Hafnafirði. Af þeirri ástæðu verður laugin lokuð þá daga.
        Suðurbæjarlaug verður opin að venju.
      </p>

    </div>

    <div class="img-container">
      <img src="../../assets/bar.jpg" alt="Italy" style="width:100%">
      <div class="text-block">
        <h4>Barir</h4>
      </div>
      <p>
        American Bar

        American Bar við Austurstræti 8 opnar í dag, en það eru bræðurnir Hermann og Ingvar Svendsen sem standa að baki
        á þessum veitingastað.

      </p>
    </div>
    <div class="img-container">
      <img src="../../assets/veitingastadur.jpg" alt="Italy" style="width:100%">
      <div class="text-block">
        <h4>Veitingastaðir</h4>
      </div>
      <p>
        KRYDD veitingastaður - Staðsettur er við Strandgötu 34 í Hafnargötu í húsi Hafnarborg, menningar- og
        listamiðstöð Hafnarfjarðar
        Yfirkokkur er Hilmar Þór Harðarson matreiðslumaður

      </p>
    </div>
    <div class="img-container">
      <img src="../../assets/har.jpg" alt="Italy" style="width:100%">
      <div class="text-block">
        <h4>Hárgreiðslustofur</h4>
      </div>
      <p>Í dag, föstudag, opnar ný hárgreiðslustofa í Þorlákshöfn. Stofan heitir Kompan og er til húsa á Selvogsbraut
        41, milli bakarísins og Vínbúðarinnar.</p>
    </div>
    <div class="img-container">
      <img src="../../assets/kaffi.jpg" alt="Italy" style="width:100%">
      <div class="text-block">
        <h4>Kaffihús</h4>
      </div>
      <p>Góð þátttaka var á fyrsta kaffihúsi Brákarhlíðar sem haldið var fimmtudaginn 4. september sl.
        Þema kaffihússins var rúllutertur sem voru með sultu, smjörkremi og með rjóma og ávöxtum.
        Þá voru á boðstólum heitar brauðrúllutertur og snúðar.</p>
    </div>
    <div class="img-container">
      <img src="../../assets/veitingastadur.jpg" alt="Italy" style="width:100%">
      <div class="text-block">
        <h4>Veitingastaðir</h4>
      </div>
      <p>Það er ekk­ert lát á spenn­andi nýj­ung­um í miðborg­inni og nýj­asta viðbót­in í veit­inga­geir­an­um er
        veit­ingastaður­inn Lóa Bar-Bistro á Center-hót­el­inu á Lauga­vegi 95-99. Staður­inn er sér­lega fal­lega
        hannaður og mat­seðill­inn þykir ein­stak­lega skemmti­leg­ur.</p>
    </div>
  </div>

  <div class="main">
    <div class="footer">
      <ul class="projPart">
        <p style="color: rgba(170, 75, 65, 0.85); font-weight: 200; font-size: 1.5rem">Verkefnis meðlimir í stafrófsröð</p>
        <li>Anton H. Heimdal</li>
        <li>Sigursteinn Pállson Enos</li>
        <li>Tómas Tryggvason</li>
        <li>Una Rúnarsdóttir</li>
      </ul>

      <p class="line-1 anim-typewriter">Síða er enn í vinnslu!!</p>

      <ul class="contactInfo">
        <p style="color: rgba(170, 75, 65, 0.85); font-weight: 200; font-size: 1.5rem">Hafðu samband</p>
        <li>Anton - ahh30@hi.is</li>
        <li>Sigursteinn - spe3@hi.is</li>
        <li>Tómas - tot4@hi.is</li>
        <li>Una - unr2@hi.is</li>
      </ul>
    </div>
  </div>
</div>
