  /* Google Fonts */
  @import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);


  .main {
    width: 100%;
    background: rgba(45, 75, 75, 1);
  }


  * {
    box-sizing: border-box;
  }

  p {
    color: rgba(212, 221, 225, 1);
  }

  h4 {
    padding: 5px;
    font-size: 1.5rem;
  }

  img {
    border-radius: 10%;
  }

  .img-container {
    float: left;
    height: 450px;
    width: 33.33%;
    padding: 20px;
    position: relative;
    margin-bottom: 50px;
  }


  .text-block {
    position: absolute;
    border-radius: 100%;
    bottom: 180px;
    right: 30px;
    background: rgba(0, 0, 0, 0.5);
    color: rgba(212, 221, 225, 1);
    padding-left: 20px;
    padding-right: 20px;
  }

  .clearfix::after {
    padding-bottom: 50px;
    content: "";
    clear: both;
    display: table;
  }

  /* Global */
  html {
    min-height: 100%;
    overflow: hidden;
  }

  body {
    height: calc(100vh - 8em);
    padding: 4em;
    color: rgba(25, 25, 25, .75);
    font-family: 'Anonymous Pro', monospace;
    background-color: rgba(45, 75, 75, 0.8);;
  }

  .line-1 {
    position: relative;
    top: 50%;
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(45, 48, 51, 0.8);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
  }

  /* Animation */
  .anim-typewriter {
    animation: typewriter 4s steps(35) 1s 1 normal both,
      blinkTextCursor 500ms steps(35) infinite normal;
    color: rgba(212, 221, 225, 1);
    padding-top: 35px;
  }

  @keyframes typewriter {
    from {
      width: 0;
    }

    to {
      width: 15em;
    }
  }

  @keyframes blinkTextCursor {
    from {
      border-right-color: rgba(25, 25, 25, 0);
    }

    to {
      border-right-color: transparent;
    }
  }

  .footer {
    position: relative;
    display: inline-flex;
    height: 200px;
    width: 100%;
    background: rgba(45, 48, 51, 1);
    font-family: klavika, Arial, sans-serif;
  }

  .projPart {
    color: rgba(170, 190, 185, 0.9);
    list-style-type: none;
    padding-top: 10px;
    width: 50%;
    text-align: center;
  }


  .contactInfo {
    color: rgba(170, 190, 185, 0.9);
    list-style-type: none;
    padding-top: 10px;
    width: 50%;
    text-align: center;
  }
