  /* Google Fonts */
  @import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);


.main{
    width: 100%;
    background: rgba(200,200,200,.75);
}


* {
    box-sizing: border-box;
  }

  p {
    color: rgb(50,50,50);
  }

  img {
    border-radius: 10%;
  }
  
  .img-container {
    float: left;
    width: 33.33%;
    padding: 20px;
    position: relative;
  }


  .text-block {
    position: absolute;
    border-radius: 100%;
    bottom: 180px;
    right: 30px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .clearfix::after {
    padding-bottom: 50px;
    content: "";
    clear: both;
    display: table;
  }

  .top-left {
    position: absolute;
    top: 50px;
    left: 50px;
    color: blue;
  }


/* Global */
html{
  min-height: 100%;
  overflow: hidden;
}
body{
  height: calc(100vh - 8em);
  padding: 4em;
  color: rgba(255,255,255,.75);
  font-family: 'Anonymous Pro', monospace;  
  background-color: rgb(25,25,25);  
}
.line-1{
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(35) 1s 1 normal both,
             blinkTextCursor 500ms steps(35) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 15em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}